---
- name: "Build a container with ansible"
  hosts: localhost
  connection: local
  tasks:
    - name: build docker image using the Dockerfile
      command: docker build -t triple3a/comingsoon-page .

    - name: Push Image to dockerhub
      command: docker push triple3a/comingsoon-page

    - name: run container
      command: docker run -d --name web-container -p 5000:80 triple3a/comingsoon-page
